CREDENTIALS_ENCRYPTION_KEY=
DJANGO_SECRET_KEY=
#S3 upload credentials
AWS_RECORDING_STORAGE_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
# Lingo API callback URL
LINGO_CALLBACK_URL=http://lingo-bot:8001/meetings/call-to-lingo