version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - attendee_attendee_network

  lingo-bot:
    build:
      context: .
    container_name: fastapi-app
    ports:
      - "9001:9001"
    depends_on:
      - redis
    environment:
      - TZ=Asia/Kolkata
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - attendee_attendee_network

networks:
  attendee_attendee_network:
    external: true
