AWS_RECORDING_STORAGE_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
ATTENDEE_API_KEY=
CLIENT_ID=
CLIENT_SECRET=
TOKEN_URI=
REDIRECT_URIS=
LINGO_API_URL=
SCHEDULE_JOIN_BOT_URL=
JOIN_MEETING_URL=
GET_MEETING_URL=
LINGO_CALLBACK_URL=
LINGO_SAVE_TRANSCRIPTION_URL=https://lingo.ai.joshsoftware.com/api/transcribe/save
WEBHOOK_ADDR=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
BOT_SERVER_HOST=0.0.0.0
BOT_SERVER_PORT=8001
USER_ID=