AWS_RECORDING_STORAGE_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
CLIENT_ID=
CLIENT_SECRET=
TOKEN_URI=
REDIRECT_URIS=
LINGO_API_URL=
PG_USER=
PG_PASS=
PG_HOST=
PG_PORT=
DB_NAME=
API_URL=
SCHEDULE_JOIN_BOT_URL=
JOIN_MEETING_URL=
REDIS_HOST=
REDIS_PORT=
BOT_SCHEDULER_INTERVAL_SECONDS=
JOIN_METTING_BEFORE_IN_MINUTES=
ATTENDEE_INTERNAL_SECRET=